<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Account Creation</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
        <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css"></link>
    </h:head>
    <h:body>
        <nav class="ui inverted menu">
            <header class="header item"> Home </header>
            <div class="right menu top attached">
                <h:form>
                    <h:commandLink class="item" action="#{customerModel.logout()}" value="Logout"/>
                </h:form>
            </div>
        </nav>
        <div class="ui segment container">
            Please enter your Bank Account information.
            <div class="ui grid">
                <div class="five wide column"></div>
                <div class="ui raised segment six wide column fluid form">
                    <h:form>
                        <div class="field">
                        IBAN: 
                        <h:inputText value="#{customerModel.iban}" class="ui input" required="true" requiredMessage="IBAN must not be empty"/>
                        </div>
                        <div class="field">
                        Owner: 
                        <h:inputText value="#{customerModel.owner}" class="ui input" required="true" requiredMessage="Owner must not be empty"/>
                        </div>
                        <h:commandButton value="Submit" action="#{customerModel.createBankAccount()}" class="ui submit button"/>
                    </h:form>
                </div>
                <div class="five wide column"></div>
            </div>
        </div>
    </h:body>
</html>

